#page {
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	
	width: 900px;
	
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
}
#header {
	font-size: 20px;
	font-weight: bold;
	color:#123456;
	text-align: center;
	margin-top: 50px;
}
#save-button {
	margin-right: 5%;
	margin-left: 94%;
	margin-top: -70px;
}
#reset-button {
	margin-right: 15%;
	margin-left: 84%;
	margin-top: -24px;
}

.block {
	border-style: solid;
	border-width: 1px;
	border-color:#333333;
	
	font-size: 15px;
	font-weight: normal;
	color:#000000;
	text-align: center;
	margin-top: 25px;
	
	display: inline-block;
	width: 48%;
	
	padding: 5px;
}

.label {
	display: inline-block;
	width: 48%;
	
	padding: 2px;
}

.button {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color:#333333;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}