#page {
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	
	width: 900px;
	
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
}
#header {
	font-size: 20px;
	font-weight: bold;
	color:#123456;
	text-align: center;
	margin-top: 50px;
}
#save-button {
	margin-right: 15%;
	margin-left: 90%;
	margin-top: -70px;
}
#reset-button {
	margin-right: 25%;
	margin-left: 80%;
	margin-top: -41px;
}
#save {
	width: 85px;
}
#reset {
	width: 85px;
}

.block {
	border-style: solid;
	border-width: 1px;
	border-color:#333333;
	
	font-size: 15px;
	font-weight: normal;
	color:#000000;
	text-align: center;
	margin-top: 25px;
	
	display: inline-block;
	width: 45%;
	
	padding: 5px;
}

.building-block {
	font-size: 15px;
	font-weight: normal;
	color:#000000;
	text-align: left;
	
	display: inline-block;
	width: 100%;
}

.label {
	display: inline-block;
	width: 48%;
	
	padding: 2px;
}

.button {
	background-color:#ffffff;
	border:3px solid #333333;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Times New Roman;
	font-size:15px;
	padding:4px 24px;
	text-decoration:none;
	
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.button:hover {
	background-color:#aaaaaa;
}
.button:active {
	position:relative;
	top:1px;
}